.idea
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
app/data/*
/app/phpunit.xml
/bin/*
!/bin/private-gitlab-runner
/composer.phar
/vendor/
.sonar/
/tests/coverage/*
!tests/coverage/.gitkeep
/tests/pdepend/*
!tests/pdepend/.gitkeep